language: php
php: '7.0'
env:
  global:
    - "FTP_HOST=ftp://e39931-ftp.services.easyname.eu/"

cache:
  directories:
  - node_modules/
  - src/theme/core/vendor/

addons:
  ssh_known_hosts: $FTP_HOST
  apt:
    - lftp

# before_install:
#   - sudo apt-get -qq update
#   - sudo apt-get install -y lftp

script:
  - npm install

after_success:
  - mv src/theme src/sls-2017
  - lftp -c "open -u $FTP_USER,$FTP_PASSWORD $FTP_HOST; set ssl:verify-certificate no; mirror -R src/sls-2017/ /html/apps/wordpress-56023/wp-content/themes/"

notifications:
  email:
    recipients: office@lukasholzer.com
    on_success: never
    on_failure: always
