{% extends "../layouts/base.njk" %}

{% block content %}
  {% set heroTitle = 'Kontakt' %}
  {% include "../components/hero.njk" %}
  <div class="container">
    <form action="" class="contact-form">
      <grid-row gutter='medium'>
          <grid-column medium-6>
            <input type="text" placeholder="Vorname Nachname" required>
          </grid-column>
          <grid-column medium-6>
            <input type="text" placeholder="E-Mail Adresse" required>
          </grid-column>
      </grid-row>
      <input type="text" placeholder="Betreff">
      <textarea placeholder="Ihre Nachricht ..."></textarea>
      <button class="btn btn--black btn--block" type="submit">Senden</button>
    </form>
  </div>
{% endblock %}
