{% extends "../layouts/base.njk" %}

{% block content %}
  {% include "../components/hero.njk" %}
  <div class="container">
    <grid-row gutter="medium">
        <grid-column medium-6>
          <h2 class="jumbo">Ihr Event - <br>unsere Aufgabe</h2>
          <p class="excerpt">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it ha
          </p>
        </grid-column>
    </grid-row>

    <image-gallery>
      <grid-row>
          <grid-column medium-6 large-4>
            <a image-gallery-item
              href="https://images.unsplash.com/photo-1475551824534-bf364636bd3d?dpr=2&auto=format&fit=crop&w=1080&h=810&q=80&cs=tinysrgb&crop=&bg="
              style="background-image: url('https://images.unsplash.com/photo-1475551824534-bf364636bd3d?dpr=2&auto=format&fit=crop&w=1080&h=810&q=80&cs=tinysrgb&crop=&bg=')">
              <span class="image-gallery-item__body">
                <strong>Eventname</strong>
                <span>Linz 2015</span>
              </span>
            </a>
          </grid-column>
          <grid-column medium-6 large-4>
            <a image-gallery-item
              href="https://images.unsplash.com/photo-1475551824534-bf364636bd3d?dpr=2&auto=format&fit=crop&w=1080&h=810&q=80&cs=tinysrgb&crop=&bg="
              style="background-image: url('https://images.unsplash.com/photo-1475551824534-bf364636bd3d?dpr=2&auto=format&fit=crop&w=1080&h=810&q=80&cs=tinysrgb&crop=&bg=')">
              <span class="image-gallery-item__body">
                <strong>Eventname</strong>
                <span>Linz 2015</span>
              </span>
            </a>
          </grid-column>
          <grid-column medium-6 large-4>
            <a image-gallery-item
              href="https://images.unsplash.com/photo-1475551824534-bf364636bd3d?dpr=2&auto=format&fit=crop&w=1080&h=810&q=80&cs=tinysrgb&crop=&bg="
              style="background-image: url('https://images.unsplash.com/photo-1475551824534-bf364636bd3d?dpr=2&auto=format&fit=crop&w=1080&h=810&q=80&cs=tinysrgb&crop=&bg=')">
              <span class="image-gallery-item__body">
                <strong>Eventname</strong>
                <span>Linz 2015</span>
              </span>
            </a>
          </grid-column>
          <grid-column medium-6 large-4>
            <a image-gallery-item
              href="https://images.unsplash.com/photo-1475551824534-bf364636bd3d?dpr=2&auto=format&fit=crop&w=1080&h=810&q=80&cs=tinysrgb&crop=&bg="
              style="background-image: url('https://images.unsplash.com/photo-1475551824534-bf364636bd3d?dpr=2&auto=format&fit=crop&w=1080&h=810&q=80&cs=tinysrgb&crop=&bg=')">
              <span class="image-gallery-item__body">
                <strong>Eventname</strong>
                <span>Linz 2015</span>
              </span>
            </a>
          </grid-column>
          <grid-column medium-6 large-4>
            <a image-gallery-item
              href="https://images.unsplash.com/photo-1475551824534-bf364636bd3d?dpr=2&auto=format&fit=crop&w=1080&h=810&q=80&cs=tinysrgb&crop=&bg="
              style="background-image: url('https://images.unsplash.com/photo-1475551824534-bf364636bd3d?dpr=2&auto=format&fit=crop&w=1080&h=810&q=80&cs=tinysrgb&crop=&bg=')">
              <span class="image-gallery-item__body">
                <strong>Eventname</strong>
                <span>Linz 2015</span>
              </span>
            </a>
          </grid-column>
          <grid-column medium-6 large-4>
            <a image-gallery-item
              href="https://images.unsplash.com/photo-1475551824534-bf364636bd3d?dpr=2&auto=format&fit=crop&w=1080&h=810&q=80&cs=tinysrgb&crop=&bg="
              style="background-image: url('https://images.unsplash.com/photo-1475551824534-bf364636bd3d?dpr=2&auto=format&fit=crop&w=1080&h=810&q=80&cs=tinysrgb&crop=&bg=')">
              <span class="image-gallery-item__body">
                <strong>Eventname</strong>
                <span>Linz 2015</span>
              </span>
            </a>
          </grid-column>
      </grid-row>
    </image-gallery>
  </div>
{% endblock %}
