{% extends "../layouts/base.njk" %}

{% block content %}
  {% include "../components/hero.njk" %}
  <div class="container">
    <grid-row>
      <grid-column medium-6>
      </grid-column>
      <grid-column medium-6>
      </grid-column>
    </grid-row>
  </div>
{% endblock %}
