{% extends "../layouts/base.njk" %}

{% block content %}
  {% set heroTitle = 'Ein Team für unvergessliche Momente#' %}
  {% include "../components/hero.njk" %}
  <div class="container">
  </div>
{% endblock %}
