.service-item {

  grid-column {
    position: relative;
  }
}


.service-item__image {

  .image__src {
    width: 100%;
  }
}

.service-item__icon {
  position: absolute;
  top: 50%;
  margin-left: 50%;
  font-size: 3em;
  transform: translate(-50%, -50%);
}
