* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: $container-width;
  padding-left: $spacer;
  padding-right: $spacer;
  margin-left: auto;
  margin-right: auto;
}

.link-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.link-list__item {
  display: block;
  margin: 0;
  padding: 0;
}

.link-list__link {
  display: block;
}
