* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: $font-family;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-family: $font-family-condensed;
  margin: 0;
}

.is-centered {
  text-align: center;
}

.jumbo {
  font-size: 70px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
}

h1 + p,
h2 + p,
h3 + p {
  margin-top: 30px;
}

.container {
  width: 100%;
  max-width: $container-width;
  padding-left: $spacer/2;
  padding-right: $spacer/2;
  margin-left: auto;
  margin-right: auto;

  @media all and (min-width:$breakpoint-tablet) {
    padding-left: $spacer;
    padding-right: $spacer;
  }
}

.link-list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;

  .link-list__item,
  .menu-item {
    display: block;
    margin: 0;
    padding: 0;
  }

  .link-list__link,
  .menu-item a {
    display: block;
  }
}
