.social-nav {
  background-color: #fff;
  text-align: right;
}

.social-nav__list {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-nav__item {
  display: inline-block;
}

.social-nav__link {
  color: #999;
  &:hover {
    color: #666;
  }
}

.main-header {
  background-color: #ececec;
}

.main-header .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.brand {
  display: block;
  flex-grow: 0;
  margin-left: -10px;

  svg {
    display: block;
    height: 50px;
  }
}

.main-nav {
  display: none;
  flex-shrink: 1;
  flex-grow: 1;
  text-transform: uppercase;

  @media all and (min-width:$breakpoint-tablet) {
    display: block;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.main-nav__item {
  flex-grow: 0;

  + .main-nav__item {
    margin-left: 15px;
  }
}

.main-nav__link {
  color: #000;
  padding: 0 5px;
}

.toggle-drawer {
  display: block;
  float: right;
  border: none;
  background-color: transparent;
  appearance: none;

  @media all and (min-width:$breakpoint-tablet) {
    display: none;
  }
}
