.social-nav {
  background-color: #fff;
  text-align: right;
}

.social-nav__list {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.social-nav__item {
  display: inline-block;
}

.social-nav__link {
  color: #999;
  &:hover {
    color: #666;
  }
}

.main-header {
  background-color: #ececec;
  height: 70px;
}

.main-header .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.brand {
  display: block;
  flex-grow: 0;
  padding: 10px 0;

  svg {
    display: block;
    height: 50px;
  }
}

.main-nav {
  flex-shrink: 1;
  flex-grow: 1;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}

.main-nav__item {
  flex-grow: 0;
}
