.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow: hidden;
  margin-bottom: 70px;
}

.hero--bg-bottom {
  background-position: 50% 100%;
}

.hero > .container {
  position: relative;
  height: 180px;
  @media all and (min-width:$breakpoint-tablet) {
    height: 300px;
  }
}

.hero.hero--large > .container {
  height: 250px;
  @media all and (min-width:$breakpoint-tablet) {
    height: 500px;
  }
}

.hero__title {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 25px;
  margin: 0;

  @media all and (min-width:$breakpoint-tablet) {
    font-size: 40px;
  }
}

.hero--outline > .container::after {
  content: '';
  display: block;
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: 0;
  border: 20px solid #fff;
  bottom: 20px;
  border-bottom-right-radius: 50px;
  pointer-events: none;
  transform: translateX(-50%);

  @media all and (min-width:$breakpoint-tablet) {
    width: 630px;
    height: 630px;
    border-width: 30px;
    border-bottom-right-radius: 100px;
    bottom: 30px;
  }
}
