$color-black: #101010 !default;

.logo-bar {
  background-color: $color-black;
  margin: 0 0 5em;
  padding: 0;
  list-style: none;
  max-width: 100%;
  overflow: hidden;
}

.logo-bar__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.logo-bar__item {
  display: block;
  max-width: 25%;
  padding: 0 $spacer;
}

.logo-bar__img {
  display: block;
  max-width: 100%;
  min-width: 10rem;
}
