quotes-swiper {
  display: block;
  background-color: #333;
  background: -moz-radial-gradient(center, ellipse cover, #555555 0%, #222222 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #555555 0%, #222222 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #555555 0%, #222222 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  color: #fff;
  padding: $spacer*3 0;

  .swiper-container {
    padding-bottom: 60px;
  }

  .swiper-pagination {
    bottom: 0 !important;
  }

  .swiper-pagination-bullet {
    background-color: #eee;
    cursor: pointer;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #fff;
    cursor: default;
  }

  blockquote {
    text-transform: uppercase;
    font-family: $font-family-condensed;
    text-align: center;
    padding: 0 $spacer;
    max-width: 700px;
    margin: 0 auto;
  }

  p {
    font-size: 30px;
    margin: 0;
  }

  cite {
    display: block;
    font-style: normal;
  }

  p + cite {
    margin-top: $spacer;
  }
}
