$font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-condensed: Oswald, 'Roboto Condensed', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;

$container-width: 1260px;
$spacer: 20px;

$grid-columns: 12;
$gutter-tiny: 2px;
$gutter-small: $spacer/2;
$gutter-medium: $spacer;
$gutter-large: $spacer*2;

$breakpoint-desktop: 1000px;
$breakpoint-tablet: 640px;
