<nav class="social-nav" id="social-navigation" aria-label="Social Media Navigation" role="navigation">
  <ul class="social-nav__list container">
    {% for item in socialMedia %}

      {% if item.link %}
      <li class="social-nav__item">
        <a href="{{ item.link.url}}" class="social-nav__link" title="{{ item.link.title }}">
          {% include 'components/icon.twig' with { 'icon': item.icon } %}
        </a>
      </li>
      {% endif %}

    {% endfor %}
  </ul>
</nav>
