{% extends "layouts/base.twig" %}

{% block content %}

  {% if (hero.image or hero.style or hero.title ) %}
    {% include 'components/hero.twig' with { 'hero': hero } only %}
  {% endif %}


  <div class="blog container">

    <grid-row gutter='small'>

      <grid-column medium-9>

        {% for post in posts %}
          {% include 'components/post-single.twig' with { 'post': post, 'excerpt': multiple } %}
        {% endfor %}

        {% if multiple %}
        <grid-row gutter='large'>

          <grid-column medium-3></grid-column>
          <grid-column medium-9>
            {% include 'components/pagination.twig' with { 'pagination': posts.pagination } %}
          </grid-column>
        {% endif %}

      </grid-column>

      <grid-column medium-3>
        <h6>{{ __('Suche', 'sls-2017') }}</h6>
        <input type="search" placeholder="{{ __('Suchbegriff', 'sls-2017') }}"/>

        <h3>{{ __('Kategorien', 'sls-2017') }}</h3>
        {% include 'components/categorylist.twig' %}

      </grid-column>

    </grid-row>


  </div>

{% endblock %}
