{% extends 'layouts/base.twig' %}

{% block content %}

  {% include 'components/hero.twig' with { 'hero': hero } %}

  <div class="container">

    {% if page %}

      {{ page.content }}

    {% endif %}

  </div>

  <quotes-swiper>
  {% include 'components/swiper.twig' with { 'slides': swiper, 'pagination': true } %}
  </quotes-swiper>

  {% include 'components/logo-bar.twig' %}

  <div class="container">

    <h2 class="is-centered" >SLS – Blog</h2>
    {% include 'components/post-overview.twig' with { 'posts': posts } %}

  </div>

{% endblock %}
