{% extends 'layouts/base.twig' %}

{% block content %}

{% if hero.image %}
  {% include 'components/hero.twig' with { 'hero': hero } only %}
{% endif %}

  <div class="container">
    <grid-row gutter="medium">
        <grid-column medium-6>
          <h2 class="jumbo">{{ page.claim }}</h2>
          <p class="excerpt">
            {{ page.shorttext }}
          </p>

          <a href="references/" class="is--uppercase island-2">< {{ __('Zurück', 'sls-2017') }}</a>
        </grid-column>

        <grid-column medium-6>

          {% include 'components/image.twig' with { 'image': Image(page.logo), 'style': 'refernce-logo' } %}
        </grid-column>
    </grid-row>


    <grid-row gutter="medium" class="island-3">

        <grid-column medium-12>


          {% set gallery = post.get_field('gallery') %}
          {% if gallery %}
            {% include 'components/layout.twig' with { 'layout': gallery } %}
          {% endif %}

          {{ page.content }}
        </grid-column>

    </grid-row>

    {% if gallery %}
      {% include 'components/gallery.twig' with { 'galleries': gallery } only %}
    {% endif %}
  </div>

{% endblock %}
