{% extends 'layouts/base.twig' %}

{% block content %}

{% if hero.image %}
  {% include 'components/hero.twig' with { 'hero': hero } only %}
{% endif %}

  <div class="container">
    <grid-row gutter="medium">
        <grid-column medium-6>
          <h2 class="jumbo">Ihr Event - <br>unsere Aufgabe</h2>
          <p class="excerpt">
          It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it ha
          </p>
        </grid-column>

        <grid-column medium-6>

          {% include 'components/image.twig' with { 'image': Image(page.logo), 'style': 'refernce-logo' } %}
        </grid-column>
    </grid-row>

    {% if page.gallery %}
      {% include 'components/gallery.twig' with { 'gallery': page.gallery } only %}
    {% endif %}
  </div>

{% endblock %}
