{% extends 'layouts/base.twig' %}

{% block content %}

  <div class="container">

    <grid-row class="references">

      {% for post in posts %}

      <grid-column medium-6>
        {% include 'components/image' with { 'image': Image(posts.image) } %}
      </grid-column>


      <grid-column medium-6>

      </grid-column>

      {% endfor %}

    </grid-row>

  </div>

{% endblock %}
