{% extends 'layouts/base.twig' %}

{% block content %}

  <div class="container">

    {% for post in posts %}

    <grid-row class="reference-item">

      <grid-column medium-6>
        {% include 'components/image.twig'
           with {
            'image': Image(post.image),
            'style': 'reference-item__image'
          }
        %}
      </grid-column>

      <grid-column medium-6>
        {% include 'components/image.twig' with { 'image': Image(post.logo), 'style': 'reference-item__logo'  } %}

        <h3 class="reference-item__headline">{{ post.title }}</h3>
        <p class="refernce-item__text">{{ post.shorttext }}</p>
        <a class="reference-item__link" href="{{ post.link }}">{{ __('Mehr erfahren', 'sls-2017') }} ></a>

      </grid-column>

    </grid-row>

    {% endfor %}


  </div>

{% endblock %}
