{% extends 'layouts/base.twig' %}

{% block content %}

  {% set hero = page.get_field('hero') %}

  {% if hero.image  %}
    {% include 'components/hero.twig' with { 'hero': hero } %}
  {% endif %}

<div class="container">
  <div class="services-overview">

    {{ page.content }}

    <div class="service-overview__list">

    {% for service in services %}
      {% include 'components/service-item.twig' %}
    {% endfor %}

    </div>

  </div>
</div>

{% endblock %}
