{% extends 'layouts/base.twig' %}

{% block content %}

  {% set hero = page.get_field('hero') %}

  {% if hero.image  %}
    {% include 'components/hero.twig' with { 'hero': hero } %}
  {% endif %}


  {% for item in page.get_field('content') %}

    {% if item.acf_fc_layout == 'text' %}

    <div class="container {{ item.styles | join(' ') }}">
      {% include 'components/text.twig' with { 'text': item.text} %}
    </div>

    {% elseif item.acf_fc_layout == 'gallery' %}

      {% include 'components/unternehmen/gallery.twig' %}

    {% elseif item.acf_fc_layout == 'grid' %}

      {% include 'components/unternehmen/grid.twig' %}

    {% elseif item.acf_fc_layout == 'statistik' %}

      {% include 'components/unternehmen/statistik.twig' %}

    {% endif %}

  {% endfor %}

<div class="container">

 <h2>{{ __('Offene Stellen', 'sls-2017') }}</h2>
 <p>{{ __('Werde Teil des großartigen SLS Eventservice – Teams.') }}</p>

 <div class="jobs island-b-3"> {% include 'components/job-accordion.twig' with { 'jobs': jobs } %} </div>

</div>

<quotes-swiper>
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <blockquote>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <cite>Max Mustermann, Musterfirma</cite>
          </blockquote>
        </div>
        <div class="swiper-slide">
          <blockquote>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <cite>Max Mustermann, Musterfirma</cite>
          </blockquote>
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  </div>
</quotes-swiper>

{% endblock %}
