{% extends 'layouts/base.twig' %}

{% block content %}

<div class="container">

 <h2>{{ __('Offene Stellen', 'sls-2017') }}</h2>
 <p>{{ __('Werde Teil des großartigen SLS Eventservice – Teams.') }}</p>

 <div class="jobs"> {% include 'components/job-accordion.twig' with { 'jobs': jobs } %} </div>

</div>

{% endblock %}
