<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}SLS Eventservice</title>
</head>
<body>
  <div class="root">
    {% include "../components/header.njk" %}
    <main>
      {% block content %}
      This is the Content!
      {% endblock %}
    </main>
    {% include "../components/footer.njk" %}
  </div>
</body>
</html>
