<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}SLS Eventservice</title>
</head>
<body>
  {% block content %}
  This is the Content!
  {% endblock %}
</body>
</html>
