<footer>
  <div class="sitemap-footer">
    <div class="container">
      asdfsaf
    </div>
  </div>
  <div class="legal-footer">
    <div class="container">
    safasf
    </div>
  </div>
</footer>
