<header>
  <nav class="social-nav" id="social-navigation" aria-label="Social Media Navigation" role="navigation">
    <ul class="social-nav__list container">
      <li class="social-nav__item"><a href="#" class="social-nav__link" title="SLS Eventservice auf Facbook"><i class="material-icons">face</i></a></li>
      <li class="social-nav__item"><a href="#" class="social-nav__link" title="SLS Eventservice auf Google+"><i class="material-icons">face</i></a></li>
      <li class="social-nav__item"><a href="#" class="social-nav__link" title="SLS Eventservice auf LinkedIn"><i class="material-icons">face</i></a></li>
    </ul>
  </nav>
  <div class="main-header">
    <div class="container">
      <a href="/" role="banner" aria-label="Startseite" class="brand" tabindex="-1">
        {% include "./logo.njk" %}
      </a>
      <button class="toggle-drawer"><i class="material-icons">menu</i></button>
      <nav class="main-nav" id="main-navigation" aria-label="Hauptnavigation" role="navigation">
        <ul class="main-nav__list">
          <li class="main-nav__item"><a href="/leistungen" class="main-nav__link">Leistungen</a></li>
          <li class="main-nav__item"><a href="/unternehmen" class="main-nav__link">Unternehmen</a></li>
          <li class="main-nav__item active"><a href="/referenzen" class="main-nav__link">Referenzen</a></li>
          <li class="main-nav__item"><a href="/gebrauchtboerse" class="main-nav__link">Gebrauchtbörse</a></li>
          <li class="main-nav__item"><a href="/kontakt" class="main-nav__link">Kontakt</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
