<div class="hero hero--outline{% if heroSize %} hero--{{heroSize}}{% endif %}"
  style="background-image: url('https://images.unsplash.com/photo-1475551824534-bf364636bd3d?dpr=2&auto=format&fit=crop&w=1080&h=810&q=80&cs=tinysrgb&crop=&bg=')">
  <div class="container">
    <h1 class="hero__title">Referenzen</h1>
  </div>
</div>
