.message-box {
  background: lightblue;
  color: white;
  left: 50%;
  min-height: 3em;
  padding: 1em;
  position: absolute;
  top: 30%;
  transform: translateX(-50%);
  width: 50%;

  &.is--error {
    background: lightcoral;
  }

  &.is--success {
    background: lightgreen;
  }

  &.is--warning {
    background: lightgoldenrodyellow;
  }
}

