.message-box {
  background: lightblue;
  color: white;
  left: 50%;
  min-height: 3em;
  padding: 1em;
  position: absolute;
  top: -100%;
  transform: translateX(-50%);
  width: 50%;
  animation-name: fade-in;
  animation-fill-mode: forwards;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  animation-delay: 1000ms;
  transition: opacity 500ms ease-out, top 500ms ease-out;

  &.message-box--fadeOut {
    top: 0;
    opacity: 0;
  }

  &.is--error {
    background: lightcoral;
  }

  &.is--success {
    background: lightgreen;
  }

  &.is--warning {
    background: lightgoldenrodyellow;
  }
}


@keyframes fade-in {
  0% { top: 0;}
  100% { top: 30%; }
}
