$font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-family-condensed: Oswald, 'Roboto Condensed', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

.is--uppercase {
  text-transform: uppercase;
}

.is--bold {
  font-weight: 900;
}

.jumbo {
  font-size: 70px;
  line-height: 1em;
  @extend .is--bold;
  @extend .is--uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-condensed;
  font-weight: 300;
  margin: 0;
  line-height: 1.2em;
  @extend .is--uppercase;
}

h1 + p,
h2 + p,
h3 + p {
  margin-top: 30px;
}
