@import 'styles/variables';
@import 'styles/gallery';
@import 'styles/feature';
@import 'styles/quotesswiper';
@import 'styles/logobar';
@import 'styles/form';
@import 'styles/button';
@import 'styles/card';
@import 'styles/footer';
@import '../../node_modules/swiper/dist/css/swiper.css';
