@import 'styles/variables';
@import 'styles/icons';

@import 'styles/atoms/image';
@import 'styles/atoms/list';
@import 'styles/atoms/link';
@import 'styles/atoms/button';

@import 'styles/components/service-item';
@import 'styles/components/layout';
@import 'styles/components/post-overview';
@import 'styles/components/post';
@import 'styles/components/pagination';
@import 'styles/components/accordion';
@import 'styles/components/category-list';


@import 'styles/components/reference-page/reference-list';

@import 'styles/gallery';
@import 'styles/feature';
@import 'styles/quotesswiper';
@import 'styles/logobar';
@import 'styles/form';
@import 'styles/card';
@import 'styles/footer';
@import 'styles/dialog';

@import '../../node_modules/swiper/dist/css/swiper.css';
