<ul class="category-list has--arrows">

  {% for leistung in  list_leistungen() %}

  <li class="category-list__item">
    <a href="/leistungen/{{leistung.slug}}">{{ leistung.name }}</a>
  </li>

  {% endfor %}

</ul>
