{# styles:

  hero--outline
  hero--large
  hero--bg-bottom

#}
<div class="hero {{ hero.style | join(' ') }} "
  style="background-image: url('{{ hero.image.url }}')">
  <div class="container">
    {% if hero.title %}

    <h1 class="hero__title">{{ hero.title }}</h1>

    {% endif %}
  </div>
</div>
