{# styles:

  hero--outline
  hero--large
  hero--bg-bottom
  hero--black-bg

#}
<div class="hero {{ hero.style | join(' ') }} "
  {% if hero.image %}style="background-image: url('{{ hero.image.url }}')"{% endif %}>
  <div class="container">
    {% if hero.title %}

    <h1 class="hero__title">{{ hero.title }}</h1>

    {% endif %}
  </div>
</div>
