<div class="container">
  <div class="services-overview">

    {{ page.content }}

    <div class="service-overview__list">

    {% for service in services %}
      {% include 'components/service-item.twig' %}
    {% endfor %}

    </div>

  </div>
</div>
